body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
}

.rating {
  width: 12rem;
  display: flex;
  justify-content: space-between;
}

.star-blank {
  font-size: 2rem;
  color: gray;
}

.star-filled {
  font-size: 2rem;
  color: #f6a41d;
}
